<section>
  <h2>Formulario</h2>
  <div class="form">
    <div class="form-section">
      <label for="title">Titulo de la noticia</label>
      <input
        id="title"
        type="text"
        placeholder="introduce el titulo de la noticia"
      />
    </div>
    <div class="form-section">
      <label for="url">URL de la imagen</label>
      <input id="url" type="url" placeholder="introduce url de la imagen" />
    </div>
    <div class="form-section">
      <label for="body">Cuerpo de la noticia</label>
      <input
        id="body"
        type="text"
        placeholder="introduce el texto de la noticia"
      />
    </div>
    <div class="form-section">
      <label for="date">Fecha de la noticia</label>
      <input
        id="date"
        type="date"
        placeholder="introduce la fecha de publicacion"
      />
    </div>
    <button>Guardar</button>
  </div>
</section>
<hr />
<section>
  <h2>Noticias</h2>
  <div class="news-wrapper">
    <article>
      <h4>
        {{ arrNoticias[0].title }}
      </h4>
      <div>{{ arrNoticias[0].date }}</div>
      <p>
        {{ arrNoticias[0].text }}
      </p>
      <img src="{{ arrNoticias[0].url }}" alt="{{ arrNoticias[0].title }}" />
    </article>
    <hr />
    <article>
      <h4>
        {{ arrNoticias[1].title }}
      </h4>
      <div>{{ arrNoticias[1].date }}</div>
      <p>
        {{ arrNoticias[1].text }}
      </p>
      <img src="{{ arrNoticias[1].url }}" alt="{{ arrNoticias[1].title }}" />
    </article>
    <hr />
  </div>
</section>
